# Environment files
.env*
!.env.example
.DS_Store

# IDE and editor folders
.vscode/
.idea/
.cursor/

# LLM Ignore Files
.cursorignore
.aiignore

# Application data and temp files
data/
temp/

# Dependency directories
node_modules/
vendor/

# Uploads and plugins
uploads/
plugins/

# Exported archives
export/*.{tgz,zip,tar,gz}

# Theme files
themes/twentytwenty*
